 @model DTOs.Paciente.PacienteAltaDto

@{
    ViewData["Title"] = "Crear Paciente";
}
@* <div class="input-container input-dashboard">
    <label for="nameSearch">Nombre</label>
    <input class="input" type="text" name="nombre" placeholder="Buscar por nombre..." id="nameSearch" />
</div> *@
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
          rel="stylesheet" />
    <title>@ViewData["Title"]</title>
</head>
<body>
<header class="header-create">
    <h2>Crear Paciente</h2>
</header>
<section class="create-container">
        <form asp-action="Create" class="form-create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-container input-dashboard">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="input-container input-dashboard">
                <label asp-for="NumeroDocumento" class="control-label"></label>
                <input asp-for="NumeroDocumento" class="form-control" />
                <span asp-validation-for="NumeroDocumento" class="text-danger"></span>
            </div>
            <div class="input-container input-dashboard">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="input-container input-dashboard">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="input-container input-dashboard">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="input-container input-dashboard">
                <label asp-for="Patologia" class="control-label"></label>
                <input asp-for="Patologia" class="form-control" />
                <span asp-validation-for="Patologia" class="text-danger"></span>
            </div>
            <div class="btn-container">
                <input type="submit" value="Crear paciente" class="btn-create" />
            </div>
        </form>


        <div>@ViewBag.msg</div>
        <a class="back-btn" href="@Url.Action("Index", "Home")">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-chevrons-left">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M11 7l-5 5l5 5" />
                <path d="M17 7l-5 5l5 5" />
            </svg>
        </a>
</section>
</body>
</html>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
